.coming {
    background-color: #58595B;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
}

body {
    font-family: "Sukhumvit Set", sans-serif;
    margin: auto;
}

.top-logo {
    width: 70%;
    position: relative;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    
}

.banner {
    height: 100vh;
}

.contact {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

p {
    text-align: center;
    margin: 0;
    color: #58595B;
}

.name {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.sales {
    color: #73C9BB;
}

@media only screen and (min-width: 25em) {
    .top-logo {
        top: 10%;
    }
}